@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Note: You may need to change the path to fit your project structure */
@config "../tailwind.config.js";

.title--t1 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.title--t1-cursive {
    font-size: 3.2rem;
    font-weight: 500;
    font-family: 'Allura', sans-serif;
}

.paragraph--p1 {
    font-size: 1.1rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

body, html {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

.light-component {
    @apply asd bg-background text-foreground rounded-xl border-0;
}